<div class="container">
  <h2>Boards</h2>
  <div>
  <% @boards.each do |boards| %>
    <%= boards.name %>
    <%= boards.description %>
  <% end %>
  </div>
  <%= link_to '追加', new_board_path %>
</div>